<div>
  <h1 class="font-bold text-xl">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <p> <%= @data["main"]["temp"] %> </p>
  <p> <%= @data["weather"].first["main"] %> </p>
</div>
